<!DOCTYPE html>
<html lang="en">
{% block content %}

<html>
<head>
<style>
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

li a {
	display: block;
	padding: 8px;
	background-color: #30d5c8;
}
</style>
</head>
<body>

<ul>
	<li><a href="{% url 'rent:home' %}">HOME</a></li>
	<li><a href="{% url 'rent:cart' %}"> CART</a></li>
	<li><a href="{% url 'rent:login' %}">LOGIN</a></li>
	<li><a href="{% url 'rent:register' %}">REGISTER</a></li>
	<li><a href="{% url 'rent:logout' %}">LOGOUT</a></li>
</ul>

</body>
</html>

<br>


<div class="container">
<div class="container row">
	<div class="col-lg-10">
		<h3>BOOKS:</h3>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th> <Title></Title> </th>
					<th> Author </th>
					<th> Genre </th>
					<th> Publishing house </th>
					<th> Return date </th>
					<th></th>
				</tr>
				{% for book in books %}
				<tr>
					<td><b>{{book.title}}</b> </td>
					<td>{{book.author}} </td>
					<td>{{book.book_genre}} </td>
					<td>{{book.publishing_house}}</td>
					<td>{{book.get_expected_date_of_return}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'rent:rental' book.id %}">Return </a> </td>
				</tr>
				{% endfor %}
			</table>
		</div>
        <h3>FILMS:</h3>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th> <Title></Title> </th>
					<th> Director </th>
					<th> Genre </th>
					<th> Return date </th>
					<th></th>
				</tr>
				{% for film in films %}
				<tr>
					<td><b>{{film.title}}</b> </td>
					<td>{{film.director}} </td>
					<td>{{film.film_genre}} </td>
					<td>{{film.get_expected_date_of_return}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'rent:rental' film.id %}">Rent </a> </td>
				</tr>
				{% endfor %}
			</table>
		</div>
        <h3>CDs:</h3>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th> <Title></Title> </th>
					<th> Author </th>
					<th> Genre </th>
					<th> Return date </th>
					<th></th>
				</tr>
				{% for cd in cds %}
				<tr>
					<td><b>{{cd.title}}</b> </td>
					<td>{{cd.director}} </td>
					<td>{{cd.music_genre}} </td>
					<td>{{cd.get_expected_date_of_return}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'rent:rental' cd.id %}">Rent </a> </td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>


</div>
</div>

{% endblock %}
